.header{
    height: 164px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    width:100%;
}

.header_rigth{
    width: 324px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
