@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --font-size: 24px;
    --font-family: Oswald;
}

*{
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

.buttonMain{
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 336px;
    height: 578px;
    background-color: red;
    justify-content: space-evenly;
}
.cardTitle{
    font-size: var(--font-size);
    width:fit-content;
    
}