@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --font-size: 24px;
    --font-family: Oswald;
    --secondary-color:#a4a4a4;
}

*{
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

a{
    text-decoration: none;
}

.buttonMain{
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
    visibility: hidden;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    width: 336px;
    height: 568px;
    justify-content:flex-start;
    gap: 24px;
}
.cardTitle{
    font-size: var(--font-size);
    width:fit-content;
    
}
.ligthText{
    color: var(--secondary-color);
}

.titulo{
    font-size: 3rem;
    height: fit-content;
    width: fit-content;
}