.modsMain{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modsMain img{
    border-radius: 8px;
}
.modsCard{
    width: 1280px;
    height: auto;

}
.modsCard div{
    flex-direction: row-reverse;
    width: 1280px;
    height: 400px;
}
.modsCard div section{
    background-color:initial;
}

.modsCard div section + div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start; 
}
.modsText{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 100%;
    padding-inline-start: 8vw;
    padding-block-end: 220px;
}
.modsMain a{
    visibility: visible !important;
    width: 248px;
    height: 60px;
    padding-block: 12px;
}