.membersMain{
    display: flex;
    flex-flow: column wrap;
    padding-inline: 8%;
}
.membersGrid{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.membersTitle{
    margin-block-end: 44px;
}
.membersGrid div{
    height: auto;
    margin-block-end: 44px;
}
.membersGrid div section{
    background-color:red;
    width: 300px;
    height: 500px;
}

